{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Log In
{% endblock title %}

{% block content %}
  <div class="container">
    <h2>Log In</h2>
    <div class="card shadow my-3 p-5">
      <form action="" method ='POST'>
        {% csrf_token %}
        {{form|crispy}}
        <input class = "btn btn-success" type="submit" value = "LogIn">
      </form>
      <br>
      <div class="container">
        <a href="{% url 'password_reset' %}">Password Reser</a>
      </div>
    </div>
  </div>

{% endblock content %}

