{% extends '_base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}
  <div class="container">
    <div class="card shadow my-3 p-5">
      <h1>Home Page</h1>
      {% if user.is_authenticated %}
        <p>Welcome {{user.username}} | <a href="{% url "logout" %}">logout</a></p>
        <div class="container">
          <p><a href="{% url 'password_change' %}">Password Change</a> | <a href="{% url 'book_list' %}">Book List</a></p>
        </div>
      {% else %}
          <p><a href="{% url 'login'%}">login</a> | <a href="{% url 'signup' %}">signup</a></p>
      {% endif %}
    </div>
  </div>
{% endblock content %}



